<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  Chirpr is a short, sharp sound.
</p>
<p>
  Chirpr is an information network that allows the exchange of ideas and information through a social net.
</p>
